

   <div class="container">
    <header>
      <h1>Tu Encuest+</h1>
    </header>
    <!--
    <section class="imagen">
      <img src="./assets/Formularios.png" alt="Inicio"> 
    </section>
    -->
    
      <div class="description">
        <p>Las encuestas de satisfacción del cliente son estudios cualitativos y cuantitativos elaborados por una empresa u organización para conocer el nivel de conformidad con respecto a un producto, un servicio o una marca. Por lo tanto, forman parte de las estrategias para conocer mejor a tus clientes.</p>
      </div>
      <div id="botonesinicio">
        <div class="buttons">
          <button (click)="navegar('acceso')">Acceder</button>
          <button (click)="navegar('registro')">Registrarse</button>
        </div> 
      </div>
      
    
  </div>


