.login-container, .register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: left;
  }
  
  .login-container h2, .register-container h2 {
    margin-bottom: 20px;
    color: #FF007A;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #FF007A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #FF579A;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #FF007A;
  }